* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(70.44deg,#121212 55%,#5d817b);
    color: white;
}

.uses {
    position: absolute;
    width: 100%;
}

.uses a {
    text-decoration: none;
}

.uses button{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 30px;
    color: #fff;
    background-color: #000000;
    padding: 1rem 2rem;
    margin: 2em 1em;
    font-size: 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
    cursor: pointer;
    float: right;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 69vw;
    height: 2px;
    background: linear-gradient(89.75deg,#9bf0e1 -1.5%,rgba(155,240,225,0) 111.48%);
  }

.main h1 {
    white-space: nowrap; 
    margin: 0 auto;
    overflow: hidden; 
    padding-right: .15em;
    border-right: .12em solid rgb(59, 59, 59); 
    font-size: 7vw;
    animation: 
      typing 2.5s steps(30),
      blink-caret .75s step-end infinite;
    font-family: 'Kaushan Script', cursive;
}

.head p {
    text-align: center;
    font-size: 34px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #5d817b }
}

.foot {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.foot ul {
    display: flex;
    margin: auto;
    width: 25em;
    justify-content: space-evenly;
    align-items: center;
}

.foot li {
    list-style-type: none;
}

.foot li img{
    border: 1px solid rgb(71, 71, 71);
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    width: 4em;
}
