* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(70.44deg,#121212 55%,#5d817b);
    color: white;
}

.back {
    position: absolute;
    width: 100%;
}

.back a {
    text-decoration: none;
}

.back button{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 30px;
    color: #fff;
    background-color: #000000;
    padding: 1rem 2rem;
    margin: 1.5em 1em;
    font-size: 1.5rem;
    outline: 0;
    border: 1px solid;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
    cursor: pointer;
    float: right;
}

.main {
    height: 100vh;
    display: grid;
    place-content: center;
    border: 2px solid rgb(243, 242, 242);
}

.head {
    background-color: aquamarine;
    color: black;
    padding: 0.50em 2em;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;
}

.sw, .hw {
    background-color: #39625c;
    border-radius: 0.50em;
    padding: 2em;
    margin: 1em 4em;
    width: 50vw;
    animation: anim1 0.5s ease-out;
}

.sw:hover, .hw:hover {
    background-color: #5d817b;
}

.hw h2, .sw h2 {
    margin-bottom: 1em;
}

p {
    font-size: 14px;
    font-weight: 400;
    margin-left: 1em;
}

li p:first-child {
    margin-top: 0.25em;
}

li {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);
    font-weight: 600;
    margin-bottom: 0.50em;
}

@keyframes anim1 {
    from {
        width: 20vw;
        opacity: 0;
    }
    to {
        width: 50vw;
        opacity: 1;
    }
}